:root{
    --color-cyan-6 : #4D96A9;
    --color-cyan-3 : #8FE3F9;
    --color-purple-6 : #855FB1;
    --color-purple-3 : #D9B8FF;
    --color-slate-9 : #28283D;
    --color-slate-6 : #87879D;
    --color-slate-3 : #D1D1DF;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body{

    overflow-x: hidden;
    max-width: 100vw;
}
nav{
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

header{
    padding: 64px 32px 32px 32px;
    display: block;
  
}

header > img:first-of-type{
    width: 200px;
    position: absolute;
    left: -13px;
}

header > img:last-of-type{
 position: absolute;
    right: -13px;
    width: 200px;
    
}

header > div:first-of-type{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > div >h1 {
    line-height: 100%;
    text-align: center;
    color: var(--color-slate-9);
}

header > div > p {
    margin-top: 28px;
    margin-bottom: 28px;
    text-align: center;
    line-height: 150%;
    color: var(--color-slate-6);
}

header > div > div > button ,
footer > div> button{
    color: White;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 40px 16px 40px;
    border-radius: 29px;
    background-color: #4D96A9;
    border: none;
    margin: 10px;
}

header > div > div > button:last-of-type,
footer > div > button{
    background-color: var(--color-purple-6);
}

.headerButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 32px 32px 64px 32px;

}

main > .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .mainContent > :first-child,
footer > div:first-of-type{
    border: solid 1px var(--color-slate-3);
    border-radius: 50%;
    padding: 20px;
    color: var(--color-slate-6);
    font-size: 1rem;
    font-weight: bold;
}

main > .mainContent > .imageContent {
    margin-top: 56px;
    margin-bottom: 56px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}

main > .mainContent > .imageContent > img {
  width: 147px;
  border-radius: 10px;
}

main > .mainContent > .textContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main > .mainContent > .textContent > :first-child{
font-size: 0.75rem;
letter-spacing: 5px;
font-weight: bold;
color: var(--color-cyan-6);
}

main > .mainContent > .textContent > h2{
    margin-top: 12px;
    margin-bottom: 32px;
    font-size: 2rem;
    line-height: 110%;
    font-weight: bolder;
    color: var(--color-slate-9);
}

main > .mainContent > .textContent > p:last-of-type{
   color: var(--color-slate-6);
}



footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url('./assets/mobile/image-footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 370px;
}

footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(143, 227, 249, 0.9);
    z-index: 1;
}

footer > * {
    z-index: 2;
}

footer > div:first-child{
    background-color: white;
    position: absolute;
    top:-30px
}

footer > .footerTextContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

footer > .footerTextContent > h2{
    font-size: 2rem;
    text-align: center;
}

footer > .footerTextContent > p{
    text-align: center;
    width: 80%;
}

@media only screen and (min-device-width : 768px){

    header {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1;
    }

    header > img:first-of-type{
        grid-column: 1;
        grid-row: 1;
        width: 400px;
    } 
    header > img:last-of-type{
        width: 400px;
        grid-column: 3;
        grid-row: 1;
    } 

    header > div:first-of-type{
        margin: 0;
        grid-column: 2;
        grid-row: 1;
    }

    header > div:first-of-type > h1 {
        font-size: 64px;
        color: var(--color-slate-9);
    }

    header > div:first-of-type > p {
        font-size: 18px;
    }

    .headerButtonContainer{
        display: flex;
        flex-direction: row;
    }


    main{
        margin-top: 120px;
    }
    main > .mainContent > .imageContent{
        width: 1120px;
        grid-template-columns: repeat(4,1fr);
    }

    main > .mainContent > .imageContent > img {
        width: 256px;
      }

      main>.mainContent > .textContent > p:first-of-type{
        width: 554px;
        font-size: 18px;
      }

      main>.mainContent > .textContent > h2{
        width: 445px;
        font-size: 40px;
      }

      main>.mainContent > .textContent > p:last-of-type{
        width: 554px;
        font-size: 18px;
      }

      footer{

        margin-top: 70px;
      }
      footer > .footerTextContent {
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
      }

      footer > .footerTextContent > h2 {
        font-size: 40px;
        text-align: start;
        width: 30%;
      }
      .footerTextContent > p:first-of-type{
        width: 30%;
        font-size: 18px;
        text-align: start;
      }
}
